
<div class="row">
  <div class="col-12 col-sm-6">
    <label for="exampleFormControlInput1" class="form-label">Filtrar por: </label>
    <select  #f (change)="obtenerFiltro(f.value)" class="form-select" aria-label="Default select example ">
      <option disabled selected>Seleccione una opción</option>
      <option *ngFor="let filt of FILTRO"  > {{filt.name}} </option>
    </select>
  </div>
  <div class="col-12 col-sm-6">
    <div class="row">
      <div class="col-sm-5  mb-3">
        <label for="exampleFormControlInput1" class="form-label">Buscar</label>
        <input #buscar type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese una búsqueda ">
      </div>
      <div class="col-sm-1 my-4 mano" >
        <span >
          <em (click)="buscarPersonaje(buscar.value)"  class="fa fa-search"></em>
        </span>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let esq of esquema |filtrar:FILTRO_APLICADO" class="cards" >
  <img src= {{esq.image}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> {{esq.name}} </h5>
    <p class="card-text"> <strong>Creado:</strong> {{esq.created | date}} </p>
    <p class="card-text"> <strong>Genero:</strong> {{esq.gender}} </p>
    <p class="card-text"> <strong>Especie:</strong> {{esq.species}} </p>
    <p class="card-text"> <strong>Estado:</strong> {{esq.status}} </p>
  </div>
</div>
